@tailwind base;
@tailwind components;
@tailwind utilities;

.portfolio {
  background: linear-gradient(
    45deg,
    rgba(123, 10, 238, 1) 43%,
    rgba(247, 101, 255, 1) 91%
  );
  background-size: 200%;
  -webkit-animation: AnimationName 10s ease infinite;
  -moz-animation: AnimationName 10s ease infinite;
  animation: AnimationName 10s ease infinite;
}

@keyframes AnimationName {
  0%,
  100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

* {
  /* border: 1px solid rgba(0, 255, 0, 0.25); */
}
